body {
    background-color: aliceblue;
}

nav {
    background-color: beige;
    margin: 0 auto;
    max-width: 830px;
}

nav a {
    display: block;
    color: #777;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(red, green, blue, alpha);
}

nav ul {
    list-style-type: none;
}


nav a:hover {
    border: 1px solid floralwhite;
}

@media (min-width: 640px) {
    nav ul {
        display: flex;
        justify-content: center;
    }
    nav ul li {
        flex: 1 1 100%;
    }
}

#navMenu {
    display: none;
}

#navMenu.show {
    display: block;
}


.stdlf {
    font-weight: 600;border-bottom: 1px solid #777; margin-bottom: 1rem;
}

body {
    font-family: 'Courier New', Courier, monospace;
}
 
h1 {font-size: 2rem;}
h2 {font-size: 1.5rem; color: darkgreen;}
section {margin: 1rem auto; max-width: 960px;}
container {
    display: grid; grid-template-columns: repeat(auto-fit);
}

img {
    width: 30%; height: 50; margin: .5rem
}